.game h1 {
  font-size: 2.5em;
}

.points span {
  font-weight: bold;
}

.tip span {
  color: #ecfa00;
}

.wordContainer {
  margin: 1.5em;
  padding: 1em;
  border: 10px solid #ecfa00;
  display: flex;
  justify-content: center;
  align-items: center;
}

.letter,
.blankSquare {
  font-size: 4em;
  line-height: 1.5;
  border: 3px solid #000;
  height: 100px;
  width: 100px;
  text-transform: uppercase;
  background-color: #fff;
  color: #000;
  font-weight: bold;
}

.letterContainer {
  margin-bottom: 1.2em;
}

.letterContainer form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.letterContainer input {
  height: 50px;
  width: 50px;
  font-size: 2em;
  text-align: center;
  margin-right: 1em;
}

/* Para telas pequenas */
@media (min-width: 600px) and (max-width: 1000px) {
  .letter,
  .blankSquare {
    font-size: 2em;
    border: 1.5px solid #000;
    height: 50px;
    width: 50px;
  }
}

/* Para telas muito pequenas */
@media (min-width: 400px) and (max-width: 599px) {
  .letter,
  .blankSquare {
    font-size: 1.5em;
    border: 1.5px solid #000;
    height: 33px;
    width: 35px;
  }
}
/* Para telas muito pequenas */
@media (min-width: 50px) and (max-width: 399px) {
  .game h1 {
    font-size: 1em;
  }

  .wordContainer {
    margin: 0.7em;
    padding: 0.5em;
    border: 5px solid #ecfa00;
  }

  .letter,
  .blankSquare {
    font-size: 2em;
    line-height: 0.7;
    border: 1.5px solid #000;
    height: 10px;
    width: 10px;
  }

  .letterContainer {
    margin-bottom: 0.6em;
  }

  .letterContainer input {
    height: 20px;
    width: 20px;
    font-size: 1em;
    margin-right: 0.5em;
  }
}
